<div id="page-logo">
  <a href="/"><img src="/images/logo/logo.png" alt="logo" /></a>
</div>

<nav>
  <ul>
    <% if (user && user.is_login_status) { %>
    <input
      type="text"
      id="search"
      placeholder="가게이름을 입력해주세요"
      onkeypress="if( event.keyCode == 13 ){searchData(event);}"
    />
    <li><a href="/list">목록</a></li>
    <!--지도 예제 테스트 완료시 삭제 필수-->
    <li><a href="/" onclick="logout()">로그아웃</a></li>
    <% } else { %>
    <input
      type="text"
      id="search"
      placeholder="가게이름을 입력해주세요"
      onkeypress="if( event.keyCode == 13 ){searchData(event);}"
    />
    <li><a href="/list">목록</a></li>
    <!--지도 예제 테스트 완료시 삭제 필수-->
    <li><a href="/login">로그인</a></li>
    <% } %>
  </ul>
</nav>

<script>
  async function logout() {
    try {
      const response = await fetch("http://localhost:8080/api/auth/logout", {
        method: "POST",
      });

      if (!response.ok) {
        const errorData = await response.json();
        return alert(errorData.message || "로그아웃에 실패했습니다.");
      }

      // 로그아웃 성공 시 페이지 리로딩
      window.location.href = "/";
    } catch (error) {
      alert(error.message);
    }
  }
</script>
<script>
  const searchData = (event) => {
    window.location.href = "/list?page=1&search=" + event.target.value;
  };
</script>
