<div class="top-btn">
  <img src="/images/icons/top.avif" alt="" />
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get the button
      var topButton = document.querySelector(".top-btn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        if (
          document.body.scrollTop > 20 ||
          document.documentElement.scrollTop > 20
        ) {
          topButton.style.display = "block";
        } else {
          topButton.style.display = "none";
        }
      };

      // When the user clicks on the button, scroll to the top of the document
      topButton.addEventListener("click", function () {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      });
    });
  </script>
</div>
